@model Product
@{
    ViewData["Title"] = "ProductDetails";
}

<h1>Product Details</h1>

<form method="post" asp-controller="Home" asp-action="SaveProduct" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="lblNewApplicantFName">Name: </label>
                <input asp-for="Title" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lblNewApplicantFName">Description: </label>
                <input  asp-for="Description" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="lblNewApplicantMName">Price: </label>
                <input asp-for="Price" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lblNewApplicantFName">Quantity: </label>
                <input  asp-for="Quantities" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="lblNewApplicantFName">Image: </label>
                <input type="file" asp-for="ImageFile" class="form-control" />
            </div>
        </div>
    </div>

    <button type="submit">Save</button>
</form>

