@inject IJSRuntime JSRuntime;

<div @ref="element" hidden>
    @Code
</div>

<button @onclick="Clicked">Click Me</button>


@code {
    [Parameter]
    public RenderFragment Code { get; set; }

    ElementReference element;

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    JSRuntime.InvokeVoidAsync("blazorjs.print", element);
    //}

    private void Clicked()
    {
        JSRuntime.InvokeVoidAsync("blazorjs.jsCode", element);
    }
}
