@*ConfirmDelete.razor*@

@inherits ConfirmModelBoxBase

@if (ShowConfirmationBox)
{
    <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Confirm Delete</h4>
                    <button type="button" class="close" @onclick="OnCanceled">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Are you sure want to delete the recored?
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" @onclick="OnCanceled">Cancel</button>
                    <button type="button" class="btn btn-secondary" @onclick="OnSaved">Save Changed</button>

                </div>

            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}

@code {

    private void OnCanceled(MouseEventArgs e)
    {
        ShowConfirmationBox = false;
    }

    private void OnSaved(MouseEventArgs e)
    {
        ShowConfirmationBox = false;

        //Save changes
    }

}
