@inject NotifierService AppState


<RedComponent></RedComponent>
<BlueComponent></BlueComponent>

<button @onclick="OnClick">Click Me</button>
@code {

    void OnClick()
    {
        AppState.Update();
    }
}