@page "/"
@*<InputSample/>*@

@*<Samples/>*@

@*<DateInput @bind-DateTime="DateTime" @bind-ViewMode="vMode"></DateInput>

    <button @onclick="DayView">Day</button>
    <button @onclick="MonthView">Month</button>
    <button @onclick="YearView">Year</button>

    @code{
        public string vMode { get; set; }
        public DateTime DateTime { get; set; }

        protected override void OnInitialized()
        {
            vMode = "months";

            base.OnInitialized();
        }

        public void DayView()
        {
            vMode = "days";
        }

        public void MonthView()
        {
            vMode = "months";
        }
        public void YearView()
        {
            vMode = "years";
        }
    }*@

<AlertMessage @ref="alertMessage"/>

<button @onclick="ShowMessage">ClickMe</button>

@code{
    private AlertMessage alertMessage;

    void ShowMessage()
    {
        alertMessage.Show("Just Sameple message!",AlertMessage.AlertType.info, 2000);
    }
}
