@model FiltersSample.Models.HomeModelView
@{
    ViewData["Title"] = "Home Page";
}

    <form asp-action="Index" asp-controller="Home" method="post">
        <input asp-for="Id" />
        <input asp-for="Name" />
        <button type="submit">Save</button>
    </form>

