@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Upload Picture";

    var browser = HttpContextAccessor.HttpContext.Request.Headers["User-Agent"].ToString();
}

@model CoreSample.ViewModels.UserViewModel

<form method="post"
      asp-action="Photo"
      asp-controller="UploadFile"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Photo" />
    <span asp-validation-for="Photo" class="text-danger"></span>
    <input type="submit" value="Upload" />
</form>
