/*.card {
    width: 600px;
    height: 400px;
    margin: 20px;
}*/

.front, .back, .other-front, .other-back {
    border: 2px gray solid;
    padding: 10px;
}

.front, .other-front {
    background-color: aqua;
}

.back, .other-back {
    background-color: red;
}