@implements IAsyncDisposable
@inject IJSRuntime JS

<div id="card" @onclick="flip"> 
  <div class="front"> 
	First: Mofaggol
  </div> 
  <div class="back">
	Last: Hoshen
  </div> 
</div>

@code {
	private IJSObjectReference module;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/JavaScript.js");
		}
	}

	async void flip() => await module.InvokeVoidAsync("showPrompt");

	async ValueTask IAsyncDisposable.DisposeAsync()
	{
		try
		{
			if (module is not null)
			{
				await module.DisposeAsync();
			}
		}catch(Exception e)
		{
			
		}
	}

}
